.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-color: black;
  padding: 5em;
  background-color: #e9edf0;
}

.buttons {
  padding: 5px;
  margin: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.inputSize {
  width: 500px;
}

.container1 {
  margin-top: 100px;
  border-color: black;
  padding: 5em;
  background-color: #e9edf0;
}

.pGanadas {
  font-size: 50px;
}

.buttonMargin {
  margin: 10px;
  position: relative;
  bottom: 10px;
}

.buttonVolver {
  margin-left: 600px;
}

.pJuego {
  margin-left: 600px;
  font-weight: bold;
}

.pMeta {
  margin-top: 40px;
  margin-left: 190px;
  font-weight: bold;
}

.tableM {
  margin-bottom: 50px;
}

.buttonRegisPodio {
  margin-left: 600px;
}
